<!DOCTYPE html>
<html>
  <head>
    <%= javascript_pack_tag 'application' %>
    <title>Planit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div id="react-root"></div> <!-- This div is where your React component will render -->

    <%= yield %>
  </body>
</html>
